aws_credentials.py
*.pem
src/app/.DS_Store
src/app/.vscode/settings.json
src/.DS_Store
src/flaskcrudapp/config.json
src/flaskcrudapp/venv
src/flaskcrudapp/__pycache__
.DS_Store
node_modules
src/templates/.DS_Store
