<!-- Required meta tags -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Submit an Appeal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="section">

    <br /> <br />
    <h2 class="title" align="center">Submit an Appeal:</h2>
    <br />

    <div class="columns is-centered">
      <div class="column is-half">
        <form method="POST" action="/makeappeal" class="box">

          <p><strong>HIT:</strong> {{hit_data['HITId']}}</p>
          <p><strong>WorkerID:</strong> {{hit_data['WorkerId']}}</p><br/>
          <p><strong>Sandbox link: </strong><a href={{hit_data['sandboxLink']}}>here</a></p>
          <br/>
          <div class="field">
            <label class="label">Explanation</label>
            <div class="control">
              <input type="text" placeholder="Requester sucks" class="input" name="explanation" required>
            </div>
          </div>
          <br/>
          {% if hit_data['WorkerEmail'] %}
          <p><strong>Is this still your preferred email:</strong> {{hit_data['WorkerEmail']}}? If not, enter a new one below.</p><br/>
          {% endif %}
          <div class="field">
            <label class="label">Enter an email to get updates about your HIT</label>
            <div class="control has-icons-left">
              <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" name="email" required>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <button class="button is-dark">
              Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </section>
</body>