<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Batch</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/8e599f3795.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <section class="section">
      <p>Click <a href="/requester">here</a> to return back to the requester page.</p><br/>
      <div class='columns is-centered'>
          <div class="column is-half">
            <div class="box">
              <h1 class="title is-4">Batch <strong>{{batch_name}}</strong> Statistics</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Worker</th>
                    <th>Rejections</th>
                    <th>Appeals</th>
                    <th>Confirmed</th>
                    <th>Overturned</th>
                  </tr>
                </thead>
                <tbody>
                  {% for worker in batch_stats['rejected_workers'] %}
                  <tr>
                    <th>{{loop.index}}</th>
                    <td>{{worker}}</td>
                    <td>{{batch_stats['rejected_workers'][worker]}}</td>
                    <td>{{batch_stats['appealing_workers'][worker]}}</td>
                    <td>{{batch_stats['confirmed_workers'][worker]}}</td>
                    <td>{{batch_stats['overturned_workers'][worker]}}</td>
                  </tr> 
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Totals</th>
                    <th>{{batch_stats['num_workers']}}</th>
                    <th>{{batch_stats['num_rejected']}}</th>
                    <th>{{batch_stats['num_appealed']}}</th>
                    <th>{{batch_stats['num_confirmed']}}</th>
                    <th>{{batch_stats['num_overturned']}}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        <div class="column is-half">
          <div class="box">
            <h1 class="title is-4">Batch <strong>{{batch_name}}</strong> HITs</h1>

            
              <table class="table table-responsive" id="batch-assignments">
                <thead>
                  <tr>
                    <th>Assignment</th>
                    <th>Worker</th>
                    <th>Status</th>
                    <th>Confirmed</th>
                    <th>Overturned</th>
                    <th>Confirm<br/><label for='select_all_approve'>(All </label><input id='select_all_approve' name="select_all_approve" value="1" type="checkbox"> )</th>
                    <th>Overturn<br/><label for='select_all_reject'>(All </label><input id='select_all_reject'name="select_all_reject" value="1" type="checkbox" > )</th>
                  </tr>
                </thead>
                <tbody>
                  {% for hit in hits %}
                  <tr>
                    <th><a class="modal-button" data-target = "#{{hit['HITId']}}">{{ hit['_id'][-3:] }}</a></th>
                    <div id="{{hit['HITId']}}" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">HIT View</p>
                          <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                          <p>
                          <strong>Assignment ID: </strong>{{hit['_id']}} <br/>
                          <strong>HIT ID: </strong>{{hit['HITId']}} <br/>
                          <strong>Worker ID: </strong>{{hit['WorkerId']}} <br/><br/>
      
                          <strong>Status: </strong>{{hit['Status']}}<br/>
                          <strong>Sandbox Link: </strong><a href={{hit['sandboxLink']}} target="_blank">Click here</a><br/>
                          {% if 'Explanation' in hit and hit['Explanation'] != "" %}
                          <br/>
                          <strong>Worker Explanation: </strong> {{hit['Explanation']}}
                          {% endif %}
                          </p>
                        </section>
                      </div>
                    </div>
                    <td>{{ hit['WorkerId'][-3:] }}</td>
                    <td>
                      <span class="icon">
                        {% if hit['Status'] == "Confirmed" %}
                        <i class="fas fa-circle" style="color:red; padding-right: 7;"></i>
                        {% elif hit['Status'] == "Overturned" %}
                        <i class="fas fa-circle" style="color:green; padding-right: 7;"></i>
                        {% elif hit['Status'] == "Adjudication" %}
                        <i class="fas fa-circle" style="color:brown; padding-right: 7;"></i>
                        {% else %}
                        <i class="fas fa-circle" style="color:gray; padding-right: 7;"></i>
                        {% endif %}
                      </span>
                    </td>
                    <td>{{ hit['Fair'] }}</td>
                    <td>{{ hit['Unfair'] }}</td>
                    {% if hit['Status'] == "Confirmed" %}
                      <td><input type="radio" name="{{ hit['_id'] }}" value="confirm" checked=true/></td>
                      <td><input type="radio" name="{{ hit['_id'] }}" value="overturn"/></td>
                    {% elif hit['Status'] == "Overturned" %}
                      <td><input type="radio" name="{{ hit['_id'] }}" value="confirm"/></td>
                      <td><input type="radio" name="{{ hit['_id'] }}" value="overturn" checked=true/></td>
                    {% else %}
                      <td><input type="radio" name="{{ hit['_id'] }}" value="confirm"/></td>
                      <td><input type="radio" name="{{ hit['_id'] }}" value="overturn"/></td>
                    {% endif %}
                  </tr> 
                  {% endfor %}
                </tbody>
              </table>
            <form  action="/batch/{{batch_name}}/judgements" method="POST" target="_blank" enctype="multipart/form-data">
            <input type="submit" value="Download csv">
            </form>
            </div>
        </div>
      </div>
      <br/>
      <div align="center">
        <span class="icon" style="width : 200px;">
        <span style="padding-right: 10"> Turkish Judge</span>
        <i class="fas fa-gavel fa-2x"></i>
        </span>
      </div>
  </section>
  <script>
    var dataTable = document.getElementById('batch-assignments');
    var checkAllApprove = dataTable.querySelector('input[name="select_all_approve"]');
    var checkAllReject = dataTable.querySelector('input[name="select_all_reject"]');
    var inputs = dataTable.querySelectorAll('tbody>tr>td>input');

    checkAllApprove.addEventListener('change', function() {
      if (checkAllApprove.checked) {
        inputs.forEach(function(input) {
          if (input.value=="confirm") {
            input.checked = true;
            checkAllReject.checked = false;
          }
        });  
      }
      else {
        inputs.forEach(function(input) {
            if (input.value=="confirm") {
              input.checked = false;            }
          });
      }
    });


    checkAllReject.addEventListener('change', function() {
      if (checkAllReject.checked) {
        inputs.forEach(function(input) {
          if (input.value=="overturn") {
            input.checked = true;
            checkAllApprove.checked = false;
          }
        });  
      }
      else {
        inputs.forEach(function(input) {
          if (input.value=="overturn") {
            input.checked = false;
          }
        });
      }
    });


    $(".modal-button").click(function() {
      console.log("here");
      var target = $(this).data("target");
      $("html").addClass("is-clipped");
      $(target).addClass("is-active");
    });
    
    $(".delete").click(function() {
      $("html").removeClass("is-clipped");
      $(this).parent().parent().parent().removeClass("is-active");
    });

    $(".modal-background").click(function() {
      $("html").removeClass("is-clipped");
      $(this).parent().removeClass("is-active");
    });
  </script>
</body>
  