<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Requesters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/8e599f3795.js" crossorigin="anonymous"></script>
</head>
<body>
  <section class="section">
    <br /> <br />
    <h1 class="title is-2" align="center">Requesters</h1>
    <br />
    
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <h1 class="title is-4">Uploaded Batches:</h1>
          {% if batches|length == 0 %}
          <p>No batches uploaded yet! You can upload one on the panel to the right.</p>
          {% endif %}
          {% for batch in batches %}
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{batch}}
              </p>
              <a href="/batch/{{batch}}" class="card-header-icon">
                <span class="icon">
                  <i class="fas fa-link"></i>
                </span>
              </a>
            </header>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <h1 class="title is-4">Upload a Batch (CSV):</h1>
          <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
              <div class="field">
                <label class="label">Batch Name</label>
                <div class="control">
                  <input type="text" placeholder="e.g. text generation task" class="input" name="batch_name" required>
                </div>
              </div>
              {% if batch_name_error %}
              <p class=error style="color:red"><strong>Error: </strong> Batch with that name already exists!</p>
              <br />
              {% endif %}
              <br/>
              <label for="inputFile"><strong>File input</strong></label>
              <br/><br/>
              <input type="file" name="inputFile">
            </div>
            <br/>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <p>You are currently logged in as {{username}}. Click <a href="/signout">here</a> to log out.</p>
      </div>
    </div>
  </section>
</body>
