<!-- Required meta tags -->
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create An Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">

    <br /> <br />
    <h2 class="title" align="center">Create an Account</h2>
    <br />

    <div class="columns is-centered">
      <div class="column is-one-third">
          <form method="POST" action="/add" class="box">
              <p class="is-size-4">Create a Requester Account</p>
              <br/>
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input type="text" placeholder="John Appleseed" class="input" name="name" required>
                </div>
              </div>
              <div class="field">
                <label class="label">RequesterID</label>
                <div class="control">
                  <input type="text" placeholder="12345689" class="input" name="reqID" required>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" name="email" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" name="pwd"required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              {% if signuperror %}
              <p class=error style="color:red"><strong>Error: </strong> User with that email or requester ID already exists.</p>
              <br />
              {% endif %}
              <div class="field">
                <button class="button is-dark">
                  Submit
                </button>
              </div>
              <br/>
              <p>Already have an account? Sign in <a href="/">here</a>!</p>
              <p>Click <a href="/">here</a> if you're a Turker trying to submit an appeal!</p>
          </form>
      </div>
    </div>
  </section>
  </body>